            @font-face {
                font-family: Averta;
                src: url(https://res.cloudinary.com/dafsch2zs/raw/upload/v1596618987/Zuri%20Landing/AvertaDemoPECuttedDemo-Regular_dghpn7.otf);
            }
            
            * {
                box-sizing: border-box;
                font-family: Averta, sans-serif;
                padding: 0;
                margin: 0;
                /*overflow: hidden;*/
            }
            
            .navbar {
                background-color: #ffffff;
                display: flex;
                flex-direction: row;
                height: 10%;
                padding: 20px;
                align-items: center;
                position: fixed;
                /* align-content: center; */
                /* justify-content: center; */
            }
            
            .container-fluid {
                width: 100%;
            }
            
            .navbar .logo-images {
                align-items: center;
                margin-right: 450px;
            }
            
            .navbar .links {
                display: flex;
                flex-direction: row;
            }
            
            .navbar ul {
                margin: 20px;
            }
            
            .navbar ul {
                display: flex;
                flex-direction: row;
                padding-right: 50px;
                align-items: center;
            }
            
            .navbar ul li {
                list-style: none;
                margin-right: 20px;
                margin-left: 30px;
            }
            
            .navbar ul li a {
                color: #514949;
                font-size: 16px;
            }
            
            .links .hiretalents button {
                padding: 11px 28px;
                align-self: flex-end;
                /* height: 70px; */
                height: 30px;
                width: 100px;
                border: 1px solid #E7332B;
                align-self: center;
                background-color: #E7332B;
                color: white;
                border-bottom-right-radius: 5px;
            }
            
            .container {
                padding: 10px;
                width: 100%;
                margin-top: 100px;
            }
            
            section {
                padding: 50px;
                width: 100%;
                margin-top: 48px;
            }
            
            .first {
                padding-top: 30px;
                height: 600px;
                background-color: #ffffff;
                display: flex;
                /* flex-flow: row wrap; */
                width: 100%;
            }
            
            .first .separate {
                /* align-items: center; */
                padding-top: 80px;
                padding-left: 100px;
                width: 50%;
            }
            
            .separate h2 {
                font-size: 40px;
                font-weight: bolder;
                padding-top: 20px;
                line-height: 24px;
                margin-bottom: 40px;
            }
            
            .separate h2 span {
                color: #E7332B;
            }
            
            .separate p {
                font-size: 23px;
                margin-top: 10px;
                color: #787878!important;
                font-family: Graphik!important;
                width: 85%;
            }
            
            .separate .hirebuttons {
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding-top: 30px;
                display: inline-flex;
            }
            
            .hirebuttons button {
                height: 40px;
                width: 200px;
                border: none;
                color: #ffffff;
                padding-top: 0px;
                padding-bottom: 5px;
            }
            
            #hire {
                background-color: #E7332B;
                margin-right: 30px;
                border: none;
            }
            
            #talent {
                background-color: #514949;
            }
            
            .first .imagesection {
                /* margin-top: auto; */
                padding: 0;
                width: 45%;
                height: 90%;
                margin-left: 160px;
            }
            
            .imagesection img {
                width: 70%;
                height: 100%;
            }
            
            .sec {
                width: 100%;
                /* background-image: url('/images/section2.png'); */
                background-repeat: no-repeat;
                height: 500px;
                background-size: cover;
                background-position: right;
                background-image: url('/images/bgsection2.063bd869082548bafa74.png');
            }
            
            .sec .context {
                width: 40%;
                padding-top: 10px;
            }
            
            .context h2 {
                font-size: 37px;
                margin-top: 40px;
                font-weight: 900;
                line-height: 49px;
                word-spacing: 4px;
            }
            
            .context h2 span {
                color: #E7332B;
            }
            
            .context p {
                margin: 10px;
                font-size: 18px;
                color: #514949;
            }
            
            #par {
                color: black;
                font-weight: 700;
            }
            
            .button-groups {
                /* height: 40px; */
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 20px;
                /* width: 40%; */
            }
            
            .third {
                padding-top: 30px;
                height: 600px;
                background-color: #ffffff;
                display: flex;
                width: 100%;
                /* flex-direction: row; */
            }
            
            .sub-heading {
                width: 100%;
            }
            
            .sec-heading h3 {
                /* text-align: center; */
                font-size: 40px;
                margin-top: 40px;
                font-weight: 900;
                line-height: 49px;
                /* word-spacing: 4px; */
                width: 40%;
                margin-bottom: 40px;
            }
            
            .third h3 span {
                color: #E7332B;
            }
            
            .row-skills {
                display: inline;
                width: 90%;
            }
            
            .row-skills button {
                background: #fff!important;
                border-radius: 8px!important;
                box-shadow: 0 8px 30px hsla(0, 0%, 48%, .16)!important;
                color: #787878!important;
            }
            
            .skills {
                width: 70%;
            }
            
            .row-skills .skills {
                height: 40px;
                width: 200px;
                display: inline;
                align-items: center;
                /* display: flex; */
                font-family: Graphik!important;
                font-size: 18px!important;
                font-style: normal!important;
                font-weight: 400!important;
                /* height: 100%!important; */
                justify-content: center;
                line-height: 33px!important;
                padding: 5px!important;
                text-align: center;
                /* border: none; */
            }
            
            .sec-heading .companies {
                display: flex;
            }
            
            .forth {
                /* background-color: #fff8e5; */
                width: 100%;
                justify-content: center;
                background-color: #fff8e5;
            }
            
            .four-container {
                margin: 0;
                padding: 0;
            }
            
            .four-container .for-hire h3 {
                color: black;
                justify-self: center;
                text-align: center;
                font-size: 40px;
                margin-top: 40px;
                font-weight: 900;
                line-height: 49px;
                /* width: 40%; */
                margin-bottom: 40px;
            }
            
            .forth h3 span {
                color: #E7332B;
            }
            
            .reasons {
                width: 100%;
                height: 650px;
            }
            
            .reasons-container {
                width: 100%;
            }
            
            .reasons .card-container {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                /* flex-direction: row; */
            }
            
            .card {
                background-color: #fff;
                margin: 10px;
                height: 280px;
                width: 30%;
                border: 1px solid black;
                border-bottom-right-radius: 20px;
                padding-top: 16px;
                padding-left: 16px;
            }
            
            .card-body {
                height: 95%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            
            .card-body .card-img {
                width: 40%;
                height: 40%;
            }
            
            .card-img img {
                justify-self: center;
            }
            
            .card-body p {
                color: #514949;
                font-size: 21px;
            }
            
            div .linktalents {
                width: 100%;
                align-items: center;
            }
            
            .linktalents button {
                height: 40px;
                width: 200px;
                border: none;
                color: #ffffff;
                padding-top: 0px;
                padding-bottom: 5px;
            }
            
            .button-red {
                background-color: #E7332B;
                margin-right: 30px;
                border: none;
            }
            
            .button-black {
                background-color: #514949;
            }