            @font-face {
                font-family: Averta;
                src: url(https://res.cloudinary.com/dafsch2zs/raw/upload/v1596618987/Zuri%20Landing/AvertaDemoPECuttedDemo-Regular_dghpn7.otf);
            }
            
            * {
                box-sizing: border-box;
                font-family: Averta, sans-serif;
                padding: 0;
                margin: 0;
                /*overflow: hidden;*/
            }
            
            .navbar {
                background-color: #ffffff;
                display: flex;
                flex-direction: row;
                height: 10%;
                padding: 20px;
                align-items: center;
                /* align-content: center; */
                /* justify-content: center; */
            }
            
            .container-fluid {
                width: 100%;
            }
            
            .navbar .logo-images {
                align-items: center;
                margin-right: 450px;
            }
            
            .navbar .links {
                display: flex;
                flex-direction: row;
                /* align-content: center; */
                /* justify-content: space-evenly; */
                /* justify-content: flex-end; */
                /* margin-right: 350px; */
            }
            
            .navbar ul {
                /* flex-direction: row; */
                margin: 20px;
            }
            
            .navbar ul {
                display: flex;
                flex-direction: row;
                padding-right: 50px;
                align-items: center;
            }
            
            .navbar ul li {
                list-style: none;
                margin-right: 20px;
                margin-left: 30px;
            }
            
            .navbar ul li a {
                color: #514949;
                font-size: 16px;
            }
            
            .links .hiretalents button {
                padding: 11px 28px;
                align-self: flex-end;
                /* height: 70px; */
                height: 30px;
                width: 100px;
                border: 1px solid #E7332B;
                align-self: center;
                background-color: #E7332B;
                color: white;
                border-bottom-right-radius: 5px;
            }
            
            .container {
                padding: 10px;
                width: 100%;
                margin-top: 100px;
            }
            
            section {
                padding: 50px;
                width: 100%;
                margin-top: 48px;
            }
            
            .first {
                padding-top: 30px;
                height: 600px;
                background-color: #ffffff;
                display: flex;
                /* flex-flow: row wrap; */
                width: 100%;
            }
            
            .first .separate {
                /* align-items: center; */
                padding-top: 80px;
                padding-left: 100px;
                width: 50%;
            }
            
            .separate h2 {
                font-size: 40px;
                font-weight: bolder;
                padding-top: 20px;
                line-height: 24px;
                margin-bottom: 40px;
            }
            
            .separate h2 span {
                color: #E7332B;
            }
            
            .separate p {
                font-size: 23px;
                margin-top: 10px;
                color: #787878!important;
                font-family: Graphik!important;
                width: 85%;
            }
            
            .separate .hirebuttons {
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding-top: 30px;
                display: inline-flex;
            }
            
            .hirebuttons button {
                height: 40px;
                width: 200px;
                border: none;
                color: #ffffff;
                padding-top: 0px;
                padding-bottom: 5px;
            }
            
            #hire {
                background-color: #E7332B;
                margin-right: 30px;
                border: none;
            }
            
            #talent {
                background-color: #514949;
            }
            
            .first .imagesection {
                /* margin-top: auto; */
                padding: 0;
                width: 45%;
                height: 90%;
                margin-left: 160px;
            }
            
            .imagesection img {
                width: 70%;
                height: 100%;
            }
            
            .sec {
                width: 100%;
                /* background-image: url('/images/section2.png'); */
                background-repeat: no-repeat;
                height: 500px;
                background-size: cover;
                background-position: right;
                background-image: url('/images/bgsection2.063bd869082548bafa74.png');
            }
            
            .sec .context {
                width: 40%;
                padding-top: 10px;
            }
            
            .context h2 {
                font-size: 37px;
                margin-top: 40px;
                font-weight: 900;
                line-height: 49px;
                word-spacing: 4px;
            }
            
            .context h2 span {
                color: #E7332B;
            }
            
            .context p {
                margin: 10px;
                font-size: 18px;
                color: #514949;
            }
            
            #par {
                color: black;
                font-weight: 700;
            }
            
            .button-groups {
                /* height: 40px; */
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 20px;
                /* width: 40%; */
            }
            
            .third {
                padding-top: 30px;
                height: 600px;
                background-color: #ffffff;
                display: flex;
                width: 100%;
                /* flex-direction: row; */
            }
            
            .sec-heading h3 {
                /* text-align: center; */
                font-size: 40px;
                margin-top: 40px;
                font-weight: 900;
                line-height: 49px;
                /* word-spacing: 4px; */
                width: 60%;
            }
            
            .third h3 span {
                color: #E7332B;
            }
            
            .third .row-skills {
                display: flex;
                margin-top: 30px;
                flex-flow: row wrap;
                width: 80%;
                justify-content: flex-start;
            }