            @font-face {
                font-family: Averta;
                src: url(https://res.cloudinary.com/dafsch2zs/raw/upload/v1596618987/Zuri%20Landing/AvertaDemoPECuttedDemo-Regular_dghpn7.otf);
            }
            
            * {
                box-sizing: border-box;
                font-family: Averta, sans-serif;
                padding: 0;
                margin: 0;
                /*overflow: hidden;*/
            }
            
            .navbar {
                background-color: #fffdf5;
                display: flex;
                flex-direction: row;
                height: 10%;
                padding: 20px;
                align-items: center;
                position: fixed;
                /* align-content: center; */
                /* justify-content: center; */
            }
            
            .container-fluid {
                width: 100%;
            }
            
            .navbar .logo-images {
                padding-left: 20px;
                align-items: center;
                margin-right: 150px;
            }
            
            .navbar .items {
                display: flex;
                flex-direction: row;
                /* align-content: center; */
                /* justify-content: space-evenly; */
                /* justify-content: flex-end; */
                /* margin-right: 350px; */
            }
            
            .navbar ul {
                flex-direction: row;
                margin: 30px;
            }
            
            .navbar ul {
                display: flex;
                flex-direction: row;
                padding-right: 50px;
                align-items: center;
            }
            
            .navbar ul li {
                list-style: none;
                text-underline-position: none;
                margin-right: 20px;
                margin-left: 20px;
            }
            
            .navbar ul li a {
                color: #514949;
                font-size: 19px;
                letter-spacing: 1px;
            }
            
            section {
                width: 100%;
            }
            
            .first {
                height: 700px;
                background-color: #fffdf5;
                padding-top: 50px;
            }
            
            .first .container {
                margin-top: 0px;
                text-align: center;
                padding-top: 40px;
                display: flex;
                flex-flow: row wrap;
            }
            
            .leftimage {
                /* background-color: #fffdf5; */
                margin-top: 60px;
                margin-left: 20px;
                height: 100px;
                width: 25%;
            }
            
            .leftimage img {
                /* background-blend-mode: normal; */
                height: 300px;
                width: 100%;
            }
            
            .textarea {
                width: 80%;
                margin-top: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-items: center;
            }
            
            .textarea #pone {
                color: #e7332b;
                font-family: Graphik!important;
                font-size: 19px!important;
                font-style: normal;
                font-weight: 400!important;
                line-height: 130%!important;
                text-align: center!important;
            }
            
            .textarea #ptwo {
                color: #1b1a20!important;
                font-family: Graphik!important;
                font-size: 49px!important;
                font-style: normal!important;
                font-weight: 700!important;
                line-height: 110%!important;
                padding-top: 10px!important;
                text-align: center!important;
            }
            
            .textarea #pthree {
                margin: 0px;
                font-family: Roboto, Helvetica, Arial, sans-serif;
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.5;
                letter-spacing: 0.00938em;
            }
            
            .enroll {
                height: 40px;
                width: 120px;
                background: #e7332b!important;
                border-radius: 50px!important;
                box-shadow: none!important;
                color: #fff!important;
                padding: 10px 32px!important;
                text-transform: none!important;
            }
            
            .rightimage {
                /* background-color: #fffdf5; */
                margin-top: 60px;
                margin-left: 20px;
                height: 100px;
                width: 25%;
            }
            
            .rightimage img {
                /* background-blend-mode: normal; */
                height: 300px;
                width: 100% position;
            }
            
            .second {
                width: 100%;
                background-color: #fffdf5;
                /* margin-top: 30px; */
                height: 200px
            }
            
            .sec-container {
                display: flex;
                flex-wrap: row wrap;
                justify-content: flex-start;
                margin-right: 30px;
                margin-left: 60px;
            }
            
            .sec-container h3 {
                width: 35%;
                font-size: 24px;
                font-weight: bold;
                /* line-height: ; */
            }
            
            .sec-container .poweredby {
                margin: 20px, 50px, 40px, 100px;
                justify-self: center;
                height: 180px;
                width: 180px;
                align-self: center;
            }
            
            .sec-container p {
                color: #1b1a20!important;
                /* font-family: Graphik!important; */
                font-size: 24px!important;
                font-style: normal!important;
                font-weight: 400!important;
                line-height: 130%!important;
                padding-bottom: 40px!important;
                padding-top: 30px!important;
                text-align: right!important;
                width: 40%;
                letter-spacing: 1px;
            }
            
            .third {
                background: #fffdf5;
                width: 100%;
                height: 1500px;
                padding-top: 50px;
                padding-left: 80px;
            }
            
            .third .text-section {
                height: 100px;
                padding-top: 20px;
                width: 45%;
                padding-bottom: 75px;
            }
            
            .text-section h3 {
                color: #e7332b;
                /* font-size: 20px; */
                font-size: 23px;
                font-weight: lighter;
            }
            
            .text-section p {
                font-size: 40px;
                color: black;
                font-weight: 600;
                width: 100%;
            }
            
            .card-wrapper {
                margin-top: 300px;
                width: 100%;
                /* display: flex; */
                /* flex-wrap: wrap; */
            }
            
            .content-container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;
                background-color: #fff4f0;
                width: 100%;
            }
            
            .card {
                height: 430px;
                width: 28%;
                margin-right: 30px;
                margin-top: 30px;
                /* border: solid black 1px; */
                border-radius: 18px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                background-color: #fff;
                padding-left: 40px;
                padding-right: 40px;
                box-shadow: 0 5px 5px 5px #e2dddd;
                ;
                /* align-items: center; */
            }
            /* .card img {
                display: flex!important;
                float: right!important;
                margin-right: -49px!important;
                margin-top: -58px!important;
                width: 42%!important;
            } */
            
            .card .card-number {
                margin-top: 40px;
                text-align: left;
                font-size: 60px;
                font-weight: 900;
                color: black;
                margin-bottom: 30px;
            }
            
            #card-one .card-number {
                color: #fff;
            }
            
            #card-one {
                color: #fff;
                background-color: #e7332b !important;
            }
            
            .card .card-title {
                font-size: 40px;
                display: block;
            }
            
            .card .card-text {
                align-self: center;
                margin-top: 30px;
                font-size: large;
                color: #514949;
            }
            
            #card-one .card-text {
                color: #fff;
            }
            
            .card:hover {
                position: relative;
                top: -10px;
                transition: top ease 0.6s;
            }
            
            .fourth {
                width: 100%;
                height: 800px;
                background: #e7332b;
                padding: 120px 30px 10px 80px;
            }
            
            .fourth .forth-text {
                width: 35%;
            }
            
            .forth-text h5 {
                font-size: 22px;
                color: white;
                font-weight: lighter;
            }
            
            .forth-text .high-quality {
                font-size: 40px;
                color: white;
                font-weight: 900;
                margin-bottom: 40px
            }
            
            .forth-text .weekly-tasks {
                font-size: 21px;
                color: white;
                font-weight: lighter;
            }
            
            .fourth .buttongroup {
                width: 100%;
            }
            
            .fourth .row .btn-info {
                margin: 40px 40px 40px 0;
                height: 70px;
                width: 200px;
                display: inline;
                align-items: center;
                /* display: flex; */
                font-family: Graphik!important;
                font-size: 19px!important;
                font-style: normal!important;
                font-weight: 400!important;
                /* height: 100%!important; */
                justify-content: center;
                line-height: 33px!important;
                padding: 3px!important;
                text-align: center;
                border-radius: 60px;
                color: white;
                border: solid white 2px;
                background-color: #e7332b;
                /* border: none; */
            }
            
            .four-container .image-left {
                width: 50%;
            }
            
            .image-left img {
                width: 100%;
            }
            
            .fifth {
                width: 100%;
                height: 900px;
                background-color: #fffdf5;
                padding: 80px;
            }
            
            .fifth .scope {
                width: 40%;
                margin-bottom: 80px;
                line-height: normal;
                /* margin: 80px; */
            }
            
            .scope h4 {
                font-size: 25px;
                color: #e7332b;
                font-weight: lighter;
                margin-bottom: 10px;
            }
            
            .scope p {
                font-weight: 900;
                color: black;
                font-size: 40px;
            }
            
            .stack-container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;
                /* background-color: #fff4f0; */
                width: 100%;
                height: 450px;
            }
            
            .stack-container .card-stack {
                padding: 5px;
                height: 300px;
                width: 30%;
                margin-right: 30px;
                margin-top: 30px;
                /* border: solid black 1px; */
                border-radius: 18px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                background-color: #fff;
                box-shadow: 0 5px 5px 5px #e2dddd;
            }
            
            .six {
                width: 100%;
                padding: 80px;
                background-color: #fffdf5;
                height: 700px;
            }
            
            .six .closed-wrapper {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;
                /* background-color: #fff4f0; */
                width: 100%;
                height: 450px;
            }
            
            .closed-wrapper h5 {
                font-size: 25px;
                color: #e7332b;
                font-weight: lighter;
                margin-bottom: 10px;
            }
            
            .closed-wrapper h3 {
                font-weight: 900;
                color: black;
                font-size: 40px;
                margin-bottom: 100px;
            }
            
            .seven {
                width: 100%;
                background-color: #fffdf5;
                height: 1000px;
                padding: 80px;
            }
            
            .seven .overall-container {
                width: 100%;
            }
            
            .overall-container h5 {
                font-size: 25px;
                color: #e7332b;
                font-weight: lighter;
                margin-bottom: 8px;
                text-align: center;
            }
            
            .overall-container h3 {
                font-weight: 900;
                color: black;
                font-size: 40px;
                margin-bottom: 10px;
                text-align: center;
            }
            
            .overall-container p {
                color: #514949;
                text-align: center;
                font-size: 18px;
            }