@font-face {
    font-family: Averta;
    src: url(https://res.cloudinary.com/dafsch2zs/raw/upload/v1596618987/Zuri%20Landing/AvertaDemoPECuttedDemo-Regular_dghpn7.otf);
}

* {
    box-sizing: border-box;
    font-family: Averta, sans-serif;
    padding: 0;
    margin: 0;
    /*overflow: hidden;*/
}

.intro {
    background-image: url('images/hero-bg.svg');
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 800px;
}

section {
    display: block;
    text-align: center;
    width: 100%;
}

.logo {
    margin: auto;
    display: flex;
    padding-top: 69px;
    margin-bottom: 69px;
}

.logo img {
    margin: auto;
}

.logoimg {
    margin-top: 69px;
    margin-left: 100px;
    margin-bottom: 143px;
}

.text {
    text-align: center;
    margin-top: 50px;
}

.text h2 {
    text-align: center;
    font-weight: 800;
    color: #514949;
    margin-bottom: 36px;
    font-size: 32px;
}

#firstparagraph {
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    color: #736c6c;
    font-size: 16px;
}

#firstparagraph a {
    color: red;
}

.text .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    margin-top: 105px;
    /* height: 80px;
    width: 35px; */
}

.text button {
    padding: 11px 28px;
    border: 1px solid #E7332B;
}

.buttons .new-to-industry {
    color: white;
    background-color: #E7332B;
    margin-right: 30px
}

.buttons .experience {
    color: #E7332B;
    background-color: white;
}

.categories {
    /* overflow: hidden; */
    background-color: #fff !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categories .container {
    margin: 0 auto;
    /* margin-top: 150px; */
}

.categories .sub-container {
    padding-top: 0,  !important;
}

.sub-container h3 {
    margin-top: 141px;
    color: #E7332B;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
}

.sub-container p {
    font-size: 24px;
    text-align: center;
    color: #514949;
    font-size: 23px;
}

.container-fluid {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-items: center; */
    width: 100%;
}

.card-wrap {
    margin-right: 40px;
    margin-left: 30px;
    /* margin: 10px; */
    flex-direction: row;
    padding: 5px;
    border: 1px, solid black;
}

.card {
    padding: 5px;
    margin-right: 20px;
    width: 30%;
    /* border: 1px, solid black; */
    border-color: #fffafa;
    text-align: left !important;
    font-size: 1rem;
    background-color: #FFFAFA;
    height: 60vh !important;
    padding: 5% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-image: url('https://res.cloudinary.com/dafsch2zs/image/upload/v1596628122/Zuri%20Landing/left_bvmv7q.png'); */
}

.card p {
    color: #514949;
}

.card a {
    color: #E7332B;
    font-size: 17px;
}



/* .cardLeft {
    width: 30%;
} */

.cardLeft .m1 {
    /* z-index: -1; */
    width: 100%;
    margin-left: -100px;
}

.cardLeft .card {
    width: 100%;
    /* z-index: 2 !important; */
    margin-top: -300px;
}

.rightCard .m1 {

    width: 100%;
    margin-right: -100px;
}

.rightCard .card {
    width: 100%;
    margin-top: -300px;
}

.cardM .card {
    width: 100%;
    margin-top: 40px;
}

@media only screen and (max-width: 768px) {
    .intro {
        height: 200vh;
        text-align: center;
    }

    .intro .text {
        width: 100%;
        text-align: center !important;
        padding: 5%;
/* background-color: rebeccapurple; */
    }
    #firstparagraph {
        text-align: center;
        margin-left:0px;
        margin-right: 0px;
        color: #736c6c;
        font-size: 16px;
    }
    .buttons{
        width: 100%;
    }

    .text .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        margin-top: 105px;
        padding: 5%;
        /* height: 80px;
        width: 35px; */
    }
    .buttons .new-to-industry {
        width: 80vw;
        color: white;
        background-color: #E7332B;
        margin-right: 0px !important
        
    }
    
    .buttons .experience {
        color: #E7332B;
        background-color: white;
        
        width: 80vw;
    }

}